{% extends "front/layout.html.twig" %}

{% block title status_code %}

{% block sections %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <h1>Error {{ status_code }}</h1>
                    <h2>{{ status_text }}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
