{% extends '::layout.html.twig' %}

{% block title 'Admin Panel - Sign In' %}

{% block body_class 'gray-bg' %}

{% block wrapper %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>{{ status_code }}</h1>
        <h3 class="font-bold">{{ status_text }}</h3>
    </div>
{% endblock %}
