@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|PT+Sans:400,400i,700,700i');

body {
    background: #dfd8b7;
    font-family: 'PT Sans', sans-serif;
    color: #3e180b;
    font-size: 14px;
    line-height: 20px;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    color: #2c1613;
    font-family: 'Lora', serif;
    margin-top: 30px;
    margin-bottom: 45px;
}

h3 {
    font-size: 30px;
    color: #64453b;
    font-family: 'Lora', serif;
}

.btn {
    font-size: 18px;
    font-family: 'Lora', serif;
    border-radius: 0;
}

.btn-primary {
    background-color: #64453b !important;
    border-color: #64453b !important;
    color: #fff !important;
}

.btn-inverse {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #64453b !important;
}

.bg-brown-shop {
    background-color: #65453b;
}

.bg-brown-shop {
    font-size: 18px;
}

.bg-brown-shop p a {
    color: #ffffff
}

.bg-white {
    background: #fff;
}

.bg-white a{
    color: #64453b;
}

.cart-bar {
    background: #2c1613;
}

.social-bar {
    background: #2c1613;
}

.header .logo {
    margin-top: -115px;
    width: 100%;
    top: 10px;
}

.nav {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: #2c1613 url('../img/bg_header.png') center no-repeat;
    text-align: center;
}

.baseline {
    margin-top: -160px;
    height: 317px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: url('../img/bg_baseline.png') center;
    text-align: center;
    padding: 35px 0;
}

.baseline p {
    margin-bottom: 0;
}

.baseline em {
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #64453b;
}

.nav ul {
    margin-top: 20px;
}

.nav ul li {
    font-family: 'Lora', serif;
    font-size: 30px;
}

.nav ul li:not(:last-child):after {
    margin-left: 10px;
    content: '|';
    color: #fff;
}

.nav .separator {
    margin-bottom: 190px;
}

.nav .corners .corner {
    position: absolute;
}

.nav .corners .corner.pull-left {
    left: 0;
}

.nav .corners .corner.pull-right {
    right: 0;
}

.cart-bar p {
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.cart-bar p em {
    color: #d71017;
    font-style: normal;
}

.home-newsletters {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: url('../img/bg_home_newsletters.png') center;
}

.home-newsletters .container {
    background: #fff;
    padding-bottom: 90px;
}

.home-newsletter .image-view {
    height: 320px;
    overflow-y: hidden;
}

.img-shadow {
    -webkit-box-shadow: 0 5px 3px #7a6c5e;
    -moz-box-shadow: 0 5px 3px #7a6c5e;
    box-shadow: 0 5px 3px #7a6c5e;
}

.presentation .container {
    padding-bottom: 90px;
}

.presentation .name {
    margin-top: 20px;
    margin-left: 80px;
    font-size: 30px;
    font-family: 'Lora', serif;
    color: #2c1613;
    line-height: 40px;
}

.presentation .name .line-2 {
    color: #fff;
    padding-left: 35px;
}

.home-pleasure {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: #2d1713 url('../img/bg_home_pleasure.png') center;
    text-align: center;
    height: 526px;
}

.home-pleasure .separator {
    margin-top: 140px;
}

.home-pleasure h2 {
    color: #fff;
    font-size: 48px;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-style: italic;
}

.contact-information td {
    vertical-align: top;
}

.contact-information td:first-child {
    width: 30px;
}

.aside {
    border: 10px solid #1a0b0b;
    background: #fff;
    padding: 10px;
}

.aside p {
    font-size: 12px;
    color: #7e7d7e;
    font-family: 'PT Sans', sans-serif;
}

.aside .aside-container {
    border: 2px solid #1a0b0b;
    padding: 15px 25px 0 25px;
    text-align: justify;
}

.aside .aside-container p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
}

.products-section {
    padding-bottom: 100px;
}

.last-products {
    padding-bottom: 35px;
}

.products {
    margin-top: -80px;
}

.product {
    margin-top: 80px;
}

.product h3, .product p {
    position: relative;
    z-index: 10;
}

.product .product-image {
    margin-top: -100px;
    position: relative;
    z-index: 5;
}

.product .product-image img {
    background: #fff;
    margin: 0 auto;
}

.product ul.product-price {
    max-width: 220px;
    background: #2c1613;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    margin: -30px auto;
    position: relative;
    z-index: 10;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.section-product {
    padding-bottom: 140px;
}

.section-product .return-link {
    color: #3e180b;
}

ul.product-price li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: '...................................' '...................................';
}

ul.product-price span:first-child {
    background: #2c1613;
    padding-left: 5px;
}

ul.product-price span + span {
    float: right;
    background: #2c1613;
    padding-right: 5px;
}

.pagination {
    border-radius: 0;
}

.pagination li a {
    border-radius: 0 !important;
    padding: 3px 11px;
    background: #64463c;
    color: #fff;
    border-color: #c8c2c1 !important;
}

.pagination li.active a,
.pagination li:hover a,
.pagination li.active:hover a {
    background: #fff;
    color: #64463c;
    border-color: #fff;
}

.contact {
    padding-bottom: 35px;
}

.contact p strong {
    font-size: 24px;
}

.contact .google-map {
    width: 100%;
    height: 320px;
    margin-top: 13px;
    background: #e0e0e0;
}

.section-newsletter {
    padding-bottom: 40px;
}

.newsletter-image {
    max-height: 320px;
    overflow-y: hidden;
}
.section-order-confirmation {
    margin-bottom: 60px;
}

.section-order-confirmation .section-content{
    margin: 80px 0 50px;
    padding: 100px 50px 200px;
}

.section-cart h4 {
    color: #fff;
}

.section-cart h4.bg-white {
    color: #000;
}

.section-cart .table td{
    vertical-align: middle;
    color: #64453b;
}

.section-cart .table td em{
    color: #000;
}

.section-cart .table thead tr th {
    font-weight: normal;
    border-bottom: 1px solid #e9e7e7;
}

.section-cart .table tbody tr td {
    border-top: none;
    border-bottom: 1px solid #2c1613;
    color: #64453b;
}

.section-cart .table tfoot tr td {
    border-top: none;
}

.section-cart .table tfoot tr td.border {
    border-bottom: 1px solid #2c1613;
}

.section-cart .td-image {
    width: 112px;
}

.section-cart .form-title {
    color: #3e180b;
    font-weight: bold;
    font-size: 26px;
    margin-top: 70px;
}

.form-control {
    color: #2c1613;
    border: none !important;
    border-color: transparent !important;
    border-bottom: 1px solid #2c1613 !important;
    border-radius: unset;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
}

.text-danger {
    color: #d71017;
}

textarea.no-resize {
    resize: none;
}

.shop-element {
    height: 374px;
    padding: 130px 0 0 50px;
}

.shop-cut-image {
    height: 374px; overflow-y: hidden
}

footer {
    padding-top: 40px;
    background-color: #2c1613;
}

footer p {
    color: #fff;
}

footer em {
    font-style: normal;
    color: #dfd8b7;
}

footer a, footer a:hover, footer a:visited, footer a:active, footer a:focus {
    color: #fff;
}

footer .legal-notice {
    margin-top: 50px;
    padding-top: 20px;
    height: 66px;
    background-color: #64453b;
    color: #fff;
}