/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/htdocs/bundles/*
/htdocs/assets/*
/uploads/*
!/uploads/.gitkeep
!/uploads/product/.gitkeep
!/uploads/newsletter/.gitkeep
!/uploads/static-page/.gitkeep
!/uploads/gallery/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep
*~
