parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: website-cms
    database_user: root
    database_password: ~

    mailer_transport: ~
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~

    secret: ChangeItAsSoonAsPossible
