parameters:
    database_host: db
    database_port: 3306
    database_name: website_cms
    database_user: website_cms
    database_password: website_cms

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: ChangeItAsSoonAsPossible

    app_theme: default
    app_company_name: 'Zen Panda'
    app_company_id: 'coutellerie'
