<div class="baseline">
    <p class="text-center">
        <img src="{{ asset('template/coutellerie/img/img_knife_baseline.png') }}" alt="">
    </p>
    <h1>Coutellerie Legendre</h1>
    <p class="text-center">
        <img src="{{ asset('template/coutellerie/img/img_baseline.png') }}" alt="">
    </p>
    <p class="text-center">
        <em>Artisan Coutelier de Tradition</em>
    </p>
</div>
