<div class="baseline">
    <div class="container pl-5">
        <h1 class="pl-5">L'amour des fruits rouges ...</h1>
        <p class="pl-5">
            <a href="{{ path('front_presentation') }}" class="btn btn-primary">
                <span class="text">Lire la suite</span>
                <br />
                <span class="icon">
                    <img src="{{ asset('template/cassis-alice/img/wave.png') }}" />
                </span>
            </a>
        </p>
    </div>
</div>
