{% set user_offer = null %}
{% if app.user is not null %}
    {% set user_offer = app.user.offer %}
{% endif %}
<div class="cart-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-right m-t-md m-b-md">
                    <a href="{{ path('front_cart') }}">
                        <span class="m-l-sm">PANIER | {{ cart.length }} <em>Article(s)</em> | {{ cart.price(user_offer)|number_format(2, ',', ' ') }}€</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
