<h3 class="text-right">
    <a href="{{ path('front_cart') }}">
        <i class="fa fa-shopping-cart"></i>
        <span class="m-l-sm">{{ cart.length }} products | {{ cart.price|number_format(2, ',', ' ') }}€</span>
    </a>
</h3>
