<div class="corners hidden-md hidden-sm hidden-xs">
    <div class="corner pull-left">
        <img src="{{ asset('template/coutellerie/img/img_corner_left.png') }}" alt="">
    </div>
    <div class="corner pull-right">
        <img src="{{ asset('template/coutellerie/img/img_corner_right.png') }}" alt="">
    </div>
</div>
