<div class="logo">
    <p class="text-center">
        <a href="{{ path('front_home') }}">
            <img src="{{ asset('template/coutellerie/img/img_logo.png') }}" alt="">
        </a>
    </p>
</div>
