<section class="section-menu">
    <div class="container">
        <div class="row">
            <nav class="col-md-12">
                <ul class="list-inline menu">
                    {% for menu in menus %}
                        <li class="list-inline-item">
                            <a href="{{ url(menu.routeName, {slug: menu.routeSlug}) }}">{{ menu.pageName }}</a>
                        </li>
                    {% endfor %}
                    <li class="list-inline-item pull-right">
                        <a href="{{ path('professional_user_files') }}">
                            <img width="30" src="{{ asset('template/cassis-alice/img/espace_pro.png') }}" alt="" />
                            <span class="ml-2">Accès PRO</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
