<section class="section-menu">
    <div class="container">
        <div class="row">
            <nav class="col-md-12">
                <ul class="list-inline menu">
                    {% for menu in menus %}
                        <li class="list-inline-item">
                            <a href="{{ url(menu.routeName, {slug: menu.routeSlug}) }}">{{ menu.pageName }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="separator m-t-md m-b-xl"><img src="{{ asset('template/coutellerie/img/img_separator.png') }}" alt=""></p>
            </nav>
        </div>
    </div>
</section>
