<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline">
                {% for menu in menus %}
                    <li><a href="{{ path(menu.routeName, {slug: menu.routeSlug}) }}">{{ menu.pageName }}</a></li>
                {% endfor %}
            </ul>
            <p class="separator m-t-md m-b-xl">
                <img src="{{ asset('template/coutellerie/img/img_separator.png') }}" alt="">
            </p>
        </div>
    </div>
</div>
