<section class="section-header">
    <div class="bgred social-network">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a class="ml-3" href="#" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="ml-3" href="#" target="_blank">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <a class="ml-3" href="#" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a class="ml-3" href="#" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
