<div class="social-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-right m-t-lg">
                    <a href="#" class="m-r-md"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="#" class="m-r-md"><i class="fa fa-google-plus fa-2x"></i></a>
                    <a href="#" class="m-r-md"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
