{% extends "front/layout-mail.html.twig" %}

{% block title 'Confirmation Envoi de Commande' %}

{% block content %}
    <p>Madame, Monsieur,</p>
    <p class="p-margin-b">Vous avez récemment commandé sur notre site internet.</p>
    <p class="p-margin-t">Par ce mail, nous vous confirmons l'envoi de cette commande à l'adresse indiquée.</p>
    <p class="p-margin-b">Restant à votre disposition pour toute question.</p>
    <p class="p-margin-t p-margin-b">Cordialement</p>
    <p class="p-margin-t">Coutellerie Legendre</p>
{% endblock %}
