{% extends "front/layout-mail.html.twig" %}

{% block title 'Confirmation de Commande' %}

{% block content %}
    <p>Madame, Monsieur,</p>
    <p>Nous sommes ravis de vous confirmer la commande passée sur notre site internet.</p>
    <p>Nos services prendront contact avec vous rapidement pour finaliser celle-ci.</p>
    <p class="p-margin-b">Restant à votre disposition pour toute question.</p>
    <p class="p-margin-t p-margin-b">Cordialement</p>
    <p class="p-margin-t">Coutellerie Legendre</p>
{% endblock %}
