.pace .pace-progress,
body.mini-navbar .nav-header,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus,
.label-primary, .label-primary{
    background-color: #e20045;
    border-color: #e20045;
    color: #fff;
}

.text-primary {
    color: #e20045;
}
.bg-info,
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus,
.label-info, .badge-info {
    background-color: #e86e93;
    border-color: #e86e93;
    color: #fff;
}

.gray-bg, .bg-muted {
    background-color: #fafafa;
}

body {
    background: #e20045;
}

.nav-header,
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
ul.nav-second-level{
    background: #e20045;
    color: #fff;
}

ul.nav-second-level > li:hover > a,
ul.nav-second-level > li.active > a {
    text-decoration: underline;
}

.nav-header {
    border-bottom: 1px solid #fff;
}

.nav > li.active {
    border-color: #fff;
}

.nav-header {
    padding-top: 0;
    padding-bottom: 0;
}