<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Last Newsletters</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>title</th>
                        <th>content</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for newsletter in newsletters %}
                        <tr>
                            <td>{{ newsletter.id }}</td>
                            <td><a href="{{ path('front_newsletter', {'newsletter': newsletter.id}) }}">{{ newsletter.title }}</a></td>
                            <td>{{ newsletter.content }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="#" class="btn btn-primary">+ View more</a>
            </div>
        </div>
    </div>
</section>
