<h2 class="mt-4">Points de ventes</h2>
<a href="{{ path('front_point_of_sales') }}">
    <img class="img-fluid" src="{{ asset('template/cassis-alice/img/point-of-sales.png') }}" alt="" />
</a>
<p class="mt-3">Lorem ipsum dolor sit amet.</p>
