<div class="footer">
    <div class="pull-right">made with <i class="fa fa-heart m-l-xs m-r-xs text-primary"></i> by <strong>Geoffrey Chameroy</strong></div>
    <div><strong>Copyright</strong> {{ config.company.name }} &copy; 2018</div>
</div>
