<!DOCTYPE html>
{% spaceless %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Geoffrey Chameroy">
        {% block meta '' %}

        <title>{% block title '' %}</title>
    </head>

    <body>
        {% block content '' %}
    </body>
</html>
{% endspaceless %}
