<footer class="m-t-lg m-b-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ path('front_privacy') }}">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
