<header class="header {% block bg_header '' %}">
    {% include('front/layout/partial/social.html.twig') %}
    {{ render(controller('AppBundle:Front/Layout:cart')) }}
    <nav class="nav">
        {% include('front/layout/partial/corners.html.twig') %}
        {% include('front/layout/partial/logo.html.twig') %}
        {{ render(controller('AppBundle:Front/Layout:menu')) }}
    </nav>
    {% include('front/layout/partial/baseline.html.twig') %}
</header>
