<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Menu</h2>
                <ul class="list-inline">
                    <li><a href="{{ path('front_home') }}">Home</a></li>
                    {% for category in categories %}
                        <li><a href="#">{{ category.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
