{% extends "front/layout-mail.html.twig" %}

{% block title 'Nouvelle Commande' %}

{% block content %}
    <p>Une nouvelle commande vient d'être confirmée.</p>
    <p>Rendez-vous sur votre espace administrateur pour gérer votre commande.</p>
    <p class="p-margin-t">Coutellerie Legendre</p>
{% endblock %}
