body {
    background: #dfd8b7;
}

a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
}

h2 {
    font-size: 30px;
    color: #2c1613;
    font-family: Lora;
    margin-top: 30px;
    margin-bottom: 45px;
}

h3 {
    font-size: 30px;
    color: #64453b;
    font-family: Lora;
}

p {
    font-size: 12px;
    color: #7e7d7e;
    font-family: "PT Sans";
}

.btn {
    font-size: 30px;
    font-family: Lora;
    border-radius: 0;
}

.btn-primary {
    background-color: #64453b !important;
    border-color: #64453b !important;
    color: #fff !important;
}

.btn-inverse {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #64453b !important;
}

.home-newsletters {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: url("../img/bg_home_newsletters.png");
}
.home-newsletters .container {
    background: #fff;
    padding-bottom: 90px;
}

.home-newsletter .image-view {
    height: 320px;
    overflow-y: hidden;
}

.img-shadow {
    -webkit-box-shadow: 0 5px 3px #7a6c5e;
    -moz-box-shadow:  0 5px 3px #7a6c5e;
    box-shadow:  0 5px 3px #7a6c5e;
}

.presentation .container {
    padding-bottom: 90px;
}

.presentation .name {
    margin-top: 20px;
    margin-left: 80px;
    font-size : 30px;
    font-family: Lora;
    color: #2c1613;
    line-height: 40px;
}

.presentation .name .line-2{
    color: #fff;
    padding-left: 35px;
}

.home-pleasure {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: #2d1713 url("../img/bg_home_pleasure.png");
    text-align: center;
    height: 526px;
}

.home-pleasure .separator{
    margin-top: 140px;
}

.home-pleasure h2 {
    color: #fff;
    font-size: 48px;
    font-family: Lora;
    font-weight: bold;
    font-style: italic;
}

.aside {
    border: 10px solid #1a0b0b;
    background: #fff;
    padding: 10px;
}

.aside .aside-container{
    border: 2px solid #1a0b0b;
    padding: 15px 25px 0 25px;
    text-align: justify;
}

.aside .aside-container p{
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
}

footer {
    padding-top: 40px;
    background-color: #2c1613;
}

footer p {
    color: #fff;
}

footer em {
    font-style: normal;
    color: #dfd8b7;
}

footer a, footer a:hover, footer a:visited, footer a:active, footer a:focus {
    color: #fff;
}

footer .legal-notice {
    margin-top: 50px;
    padding-top: 20px;
    height: 66px;
    background-color: #64453b;
    color: #fff;
}